<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link rel="stylesheet" href="{% static 'SNCF/css/404.css' %}?version=3">
</head>
<body>
    <section class="page_404">
      <div class="container">
        <div class="row">
        <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
        <div class="four_zero_four_bg">
          <h1 class="text-center ">404</h1>


        </div>

        <div class="contant_box_404">
        <h3 class="h2">
        Tu as l'air perdu ...
        </h3>

        <p>La page que tu cherches n'est pas disponible!</p>

        <a href="/" class="link_404">Revenir à la maison</a>
      </div>
        </div>
        </div>
        </div>
      </div>
    </section>
</body>
</html>