{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{% static 'SNCF/img/sncf.png' %}" width="50" height="30" alt="">
            </a>
        </nav>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% if user %}
          <li class="nav-item">
            <a class="nav-link" {% if nav_bar == 'home' %}active{% endif %} aria-current="page" href="/">Home</a> {# eventually add active #}
          </li>
          <li class="nav-item">
            <a class="nav-link" {% if context.nav_bar == 'trajet' %}active{% endif %}  href="{% url 'trajet' %}">Trajets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" {% if context.nav_bar == 'reservations' %}active{% endif %}  href="{% url 'reservations' %}">Mes Réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          {% else %}
          <li>
            <a href="/account/login" class="nav-link">login</a>
          </li>
          <li>
              <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/account/signup/">Signup!</a>
              </div>
          </li>
          {% endif %}
        </ul>

      </div>
  </nav>