{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static 'SNCF/img/sncf.png' %}" width="50" height="30" alt="">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        {% if user and not user.is_anonymous %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if '/' == request.path %}active{% endif %}">
                <a class="nav-link"  aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item {% if 'trajet' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'trajet' %}">Trajets</a>
            </li>
            <li class="nav-item {% if 'reservations' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'reservations' %}">Mes Réservations</a>
            </li>
            <li class="nav-item {% if 'statistics' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'statistics' %}">Stats</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li><a class="nav-link {% if 'account' in request.path %}active{% endif %}" href="{% url 'detail-profile' pk=user.id %}">Mon Compte</a></li>
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
            {% endif %}
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="location.href='/account/logout/';">Deconnexion</button>

        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
            <li>
                <button class="btn btn-outline-secondary my-2 my-sm-0" onclick="location.href='/account/login/';">Se connecter</button>
            </li>
            <li>
                <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='/account/signup/';">S'inscrire</button>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
