<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créez votre compte utilisateur</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'SNCF/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'SNCF/img/background.css' %}">
<!--    <link rel="stylesheet" href="{% static 'SNCF/js/signup.js' %}">-->
</head>
<body>
{% include 'navbar.html' %}
<div class="container mg-t">
    {% if not update %}
    <h1>Création d'un compte utilisateur.</h1>
    {% else %}
    <h1>Modification de votre compte utilisateur.</h1>
    {% endif %}
<!--    méthode post au lieu de get pour éviter d'envoyer le formulaire dans l'url, ce qui ne serait pas sécuritaire-->
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="row">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="row">
            <div class="col">
                {{ form.nom|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.prenom|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="div_id_date_naissance" class="form-group">
                    <label for="id_date_naissance" class="requiredField control-label" for="date">
                        Date de naissance<span class="asteriskField">*</span>
                    </label>
                    <div>
                        <div class="input-group date">
                            <input type="text" name="date_naissance"
                                   value="{{date}}"
                                   class="form-control" required id="id_date_naissance"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                {{ form.reduction|as_crispy_field }}
            </div>
        </div>
        {% if not update %}
        <div class="row">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="row">
            {{ form.password2|as_crispy_field }}
        </div>
        {% endif %}
<!--        {% for message in errors.values %}-->
<!--            <h2 style="color: red;">-->
<!--                {{ message }}-->
<!--            </h2>-->
<!--        {% endfor %}-->

        <div class="text-center">
            {% if not update %}
            <input type="submit" class="btn btn-primary" value="S'inscrire"/>
            {% else %}
            <input type="submit" class="btn btn-danger" value="Enregistrer"/>
            {% endif %}
        </div>
    </form>
</div>

</body>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script type="text/javascript">
    $(document).ready(function(){
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        var date_input=$('input[name="date_naissance"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        console.log(date_input);
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
            language: 'fr',
        })
    });
</script>

</html>